{% extends 'base.html' %}

{% block title %}
    MyClub
{% endblock %}

{% block content %}
    <header 
        style="
            background-image: url('{{ club.ground_url }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: multiply;
        " 
        class="w-full h-[400px] sm:h-[450px]">
        <div class="bg-[#00000055] h-full w-full flex">
            <div class="flex h-[35%] mt-[260px] w-full sm:mt-[190px] md:mt-[110px] sm:h-[60%] md:h-[75%]">
                <div class="w-[30%] sm:w-[35%] bg-[#FFFFFF88] flex rounded-tr-[40px]">
                    {% load static %}
                    <div 
                        class="back flex items-center justify-center h-[100%] w-[100%]">
                        <div class="">
                            <img src="{{ club.logo_url }}" class="w-[80px] h-[80px] sm:w-[150px] sm:h-[150px] md:w-[240px] md:h-[240px]" />
                        </div>
                    </div>
                </div>
                <div class="w-[70%] sm:w-[65%] text-white">
                    <div class="px-4 sm:px-12 pt-[40px] sm:pt-[100px] md:pt-[140px]">
                        <h3 class="font-bold text-[20px] sm:text-[40px]">{{ club.name }}</h3>
                        <p class="sm:text-[25px] text-[16px]">{{ club.stadium }}</p>
                        <p class="sm:text-[25px]">Est: {{ club.date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mx-4 mt-8 sm:mx-8 sm:mt-12">
        <h1 class="text-[24px] font-bold sm:text-[30px] text-[#47007C]">Club Info</h1>
        <div class="flex flex-col mt-4 px-4 border-t border-b py-4 space-y-2 sm:flex-row sm:px-8">
            <div class="space-y-2 sm:w-[50%]">
                <p class="sm:text-[20px]">
                    <span class="font-semibold text-[#47007C]">Club Name: </span>
                    {{ club.name }}
                </p>
                <p class="sm:text-[20px]">
                    <span class="font-semibold text-[#47007C]">Founded: </span>
                    {{ club.date }}
                </p>
                <p class="sm:text-[20px]">
                    <span class="font-semibold text-[#47007C]">Nickname: </span>
                    {{ club.nickname }}
                </p>
                <p class="sm:text-[20px]">
                    <span class="font-semibold text-[#47007C]">Rivals: </span>
                    {{ club.rivals }}
                </p>
            </div>
            <div class="space-y-2 sm:w-[50%]">
                <p class="sm:text-[20px]">
                    <span class="font-semibold text-[#47007C]">Ground: </span>
                    {{ club.stadium }}
                </p>
                <p class="sm:text-[20px]">
                    <span class="font-semibold text-[#47007C]">Capacity: </span>
                    {{ club.capacity }}
                </p>
                <br>
                <br>
                <p class="sm:text-[20px]">
                    <span class="font-semibold text-[#47007C]">Manager: </span>
                    {{ club.coach }}
                </p>
            </div>
        </div>
    </div>
    <div class="mx-4 mt-8 sm:mx-8 sm:mt-12">
        <h1 class="text-[24px] font-bold sm:text-[30px] text-[#47007C]">Club Kits</h1>
        <div class="mx-4 sm:mx-8 mt-4 flex flex-col md:flex-row md:space-x-4 justify-center items-center">
            <div class="border h-[450px] w-[300px] bg-[#F3F3F3] rounded-2xl border-b-[#47007C] border-b-[8px] flex flex-col items-center justify-center space-y-8 md:space-y-4">
                <div>
                    {% if club.jersey_one %}
                        <img src="{{ club.jersey_one }}" class="w-[220px] h-[270px] object-fit" />
                    {% else %}
                        <img src="https://resources.premierleague.com/photos/premierleague/photo/2018/06/01/c850cded-8f1b-406b-a46e-d5743e389ece/PL-1819-Blank-516.png?width=220&height=270" class="object-fit" />
                    {% endif%}
                </div>
                <div class="flex flex-col items-center">
                    <p class="font-bold text-[18px]">2023/2024</p>
                    <p class="font-semibold text-[18px]">Home Kit</p>
                </div>
            </div>
            <div class="border h-[450px] w-[300px] bg-[#F3F3F3] rounded-2xl border-b-[#47007C] border-b-[8px] flex flex-col items-center justify-center space-y-12 md:space-y-8">
                <div>
                    {% if club.jersey_two %}
                        <img src="{{ club.jersey_two }}" class="w-[220px] h-[270px] object-fit" />
                    {% else %}
                        <img src="https://resources.premierleague.com/photos/premierleague/photo/2018/06/01/c850cded-8f1b-406b-a46e-d5743e389ece/PL-1819-Blank-516.png?width=220&height=270" class="object-fit" />
                    {% endif%}
                </div>
                <div class="flex flex-col items-center">
                    <p class="font-bold text-[18px]">2023/2024</p>
                    <p class="font-semibold text-[18px]">Away Kit</p>
                </div>
            </div>
            <div class="border h-[450px] w-[300px] bg-[#F3F3F3] rounded-2xl border-b-[#47007C] border-b-[8px] flex flex-col items-center justify-center space-y-12 md:space-y-8">
                <div>
                    {% if club.jersey_three %}
                        <img src="{{ club.jersey_three }}" class="w-[220px] h-[270px] object-fit" />
                    {% else %}
                        <img src="https://resources.premierleague.com/photos/premierleague/photo/2018/06/01/c850cded-8f1b-406b-a46e-d5743e389ece/PL-1819-Blank-516.png?width=220&height=270" class="object-fit" />
                    {% endif%}
                </div>
                <div class="flex flex-col items-center">
                    <p class="font-bold text-[18px]">2023/2024</p>
                    <p class="font-semibold text-[18px]">Third Kit</p>
                </div>
            </div>
            <div class="border h-[450px] w-[300px] bg-[#F3F3F3] rounded-2xl border-b-[#47007C] border-b-[8px] flex flex-col items-center justify-center space-y-12 md:space-y-8">
                <div>
                    {% if club.goalkeeper %}
                        <img src="{{ club.goalkeeper }}" class="w-[220px] h-[270px] object-fit" />
                    {% else %}
                        <img src="https://resources.premierleague.com/photos/premierleague/photo/2018/06/01/c850cded-8f1b-406b-a46e-d5743e389ece/PL-1819-Blank-516.png?width=220&height=270" class="object-fit" />
                    {% endif%}
                </div>
                <div class="flex flex-col items-center">
                    <p class="font-bold text-[18px]">2023/2024</p>
                    <p class="font-semibold text-[18px]">Goalkeeper Kit</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-4 mt-8 sm:mx-8 sm:mt-12">
        <h1 class="text-[24px] font-bold sm:text-[30px] text-[#47007C]">Partnerships</h1>
        <div class="mx-4 sm:mx-8 mt-4 flex flex-col md:flex-row md:space-x-4 justify-center items-center">
            <div class="border h-[220px] w-[400px] bg-[#F3F3F3] rounded-2xl border-b-[#47007C] border-b-[8px] flex flex-col items-center justify-center space-y-2">
                <div>
                    <img src="{{ club.sponsor_one }}" />
                </div>
                <div class="flex flex-col items-center">
                    <p class="font-semibold text-[20px]">Club Sponsors</p>
                </div>
            </div>
            <div class="border h-[220px] w-[400px] bg-[#F3F3F3] rounded-2xl border-b-[#47007C] border-b-[8px] flex flex-col items-center justify-center space-y-2">
                <div>
                    <img src="{{ club.sponsor_two }}" />
                </div>
                <div class="flex flex-col items-center">
                    <p class="font-semibold text-[20px]">Kit Manufacturer</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1>Fixtures</h1>
        <div></div>
    </div>
    
{% endblock %}

<!-- https://www.premierleague.com/resources/rebrand/v7.124.0/i/elements/pl-main-logo.png -->
<!-- ?width=260&height=330 -->